.footer {
    padding: 48px 0 40px;
    @media (max-width:$mobile){
         background-color: #E0EEFF; 
    }
    @include adaptiveValue("padding-top", 48, 20);
    @include adaptiveValue("padding-bottom", 40, 28);
    /* .footer__container */
    &__container { 
        max-width: rem(1150);
    }

    /* .footer__body */
    &__body {}

    /* .footer__bottom */
    &__bottom {}
}

.body-footer {
    position: relative;
    @media (min-width: 1024px){
        display: flex;
    }
    @include adaptiveValue("gap", 62, 30, 0, 1300, 778);
    @include adaptiveValue("padding-bottom", 27, 16);
    &:not(:last-child) {
        margin-bottom: rem(30);
        @include adaptiveValue("margin-bottom", 30, 15);
    }
    &::after{
        content:'';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        background-color: $lightGrey;
    }
    /* .body-footer__data */
    &__data {
        flex: 1 0 rem(275);
        // @include adaptiveValue("flex-basis", 275, 200,0,1700,1024);
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        @media (max-width: 1024px){
            margin-bottom: rem(20);
        }
    }

    /* .body-footer__logo */
    &__logo {}

    /* .body-footer__numbers */
    &__numbers {
        @include adaptiveValue("margin-top", 20, 16);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 20);
        }
    }

    /* .body-footer__item */
    &__items {
        &:last-child{
            @media (max-width: 380px){
                align-items: flex-start;
                & .menu-footer {
                    width: 100%;
                }
            }
            @media (max-width: 777px){
                grid-column: span 2;
                & .menu-footer__list {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: rem(30);
                }
            }
        }
    }
    /* .body-footer__item */
    &__item {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 16, 10);
        }
    }

    /* .body-footer__link */
    &__link {
        @include adaptiveValue("font-size", 24, 18);
        font-weight: 700;
        line-height: math.div(28, 24);
    }

    /* .body-footer__btn */
    &__btn {
        color: $white;
        font-weight: 700;
        @include adaptiveValue("font-size", 20, 18);
        background-color: $darkBlue;
        padding: 12px 66px;
        border-radius: 5px;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 28, 20);
        }
    }

    /* .body-footer__socials */
    &__socials {}

    /* .body-footer__row */
    &__row {
        flex: 1 1 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
        @media (min-width: 778px){
            grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: 1024px){
            grid-template-columns: repeat(5, 1fr);
        }
        gap: rem(70);
        @include adaptiveValue("gap", 70, 30, 0, 1700, 1024);
    }
}

.socials-list {

    /* .socials-list__item */
    &__item {}

    /* .socials-list__link */
    &__link {}
}

.item-footer {
    display: flex;
    @include adaptiveValue("gap", 20, 10);
    flex-direction: column;
    @media (max-width: 1024px){
        align-items: center;
    }
    /* .item-footer__title */
    &__title {
    }

    /* .item-footer__menu */
    &__menu {
        // padding: rem(20) 0;
    }
}

.menu-footer {

    /* .menu-footer__list */
    &__list {}

    /* .menu-footer__item */
    &__item {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 10, 8);
        }
    }

    /* .menu-footer__link */
    &__link {
        color: $grey;
        @include adaptiveValue("font-size", 16, 14);
        transition: all 0.5s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: $darkBlue;
            }
        }
    }
}

.bottom-footer {

    /* .bottom-footer__descr */
    &__descr {
        color: $grey;
        font-size: rem(12);
        &:not(:last-child) {
            margin-bottom: rem(12);
        }
        @media (max-width:$mobile){
            & span {
                display: block;
                margin-bottom: rem(8);
                
            } 
        }
    }
    /* .bottom-footer__link */
    &__link {
        display: block;
        color: var(--gray, #828282);
        text-decoration: underline;
        font-size: rem(12);
        &:not(:last-child) {
            margin-bottom: rem(12);
        }
        /* .bottom-footer__link_rules */
        &_rules {}
        /* .bottom-footer__link_maps */
        &_maps {}
    }
}

//====================================================================================================

//====================================================================================================